DATABASE_URL=jdbc:postgresql://localhost:5432/dbname
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=
TELEGRAM_BOT_USERNAME=your_bot_username
TELEGRAM_BOT_TOKEN=
YOOKASSA_SHOP_ID=
YOOKASSA_SECRET_KEY=
PROXYAPI_KEY=
HIGGSFIELD_CLIENT_ID=
HIGGSFIELD_CLIENT_SECRET=
COMET_API_KEY=
MYTAX_INN=
MYTAX_PASSWORD=