HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Archives and binary files ###
profi-app.tar
*.tar
*.tar.gz
*.jar
*.war
*.ear
*.zip

### Parser debug files ###
*_page.html
*_screenshot.png
*_url.txt
login_*.html
login_*.png
after_search_*
before_search_*
alternative_search_*
debug/
*.log

###  .env ###
.env